html { 
  background: url(snowy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.light {
	width: 5%;
	height: 10vh;
	background-color: transparent;
	z-index: 1;
	float: left;
	}
	
.square {
	position: relative;
	margin-left: 1px;
	width: 11px;
	height: 9px;
	z-index: 2;
	background: grey;
	-moz-border-radius: 2px / 2px;
	-webkit-border-radius: 2px / 2px;
	border-radius: 2px / 2px;
	overflow:hidden;
}

.oval {
	position: relative;
	width: 14px;
	height: 28px;
	margin-top: -5px;
	z-index: 1;
	background: red;
	-moz-border-radius: 10px / 25px;
	-webkit-border-radius: 10px / 25px;
	border-radius: 10px / 25px;
	overflow:hidden;
	-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s, box-shadow 2s, opacity 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s, box-shadow 2s, opacity 2s;
	box-shadow: 0px 7px 7px 0px #ffef00;
	opacity: 0.75;
}

.oval:hover {
	-webkit-transform: scale(1.25, 1.25);
	transform: scale(1.25, 1.25);
	box-shadow: 0px 7px 20px 10px #ffef00;
}

#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
canvas {
  border: 0px;
}